In [1]:
%load_ext autoreload
%autoreload 2
    
from pathlib import Path
import metapack as mp
import geopandas as gpd
import pandas as pd
from auto_tqdm import tqdm 

doc = mp.jupyter.open_source_package()
doc.set_sys_path()
import pylib

ea_epsg = 2163 #US Equal Area projection

import logging
logging.basicConfig()

from pylib import logger
logger.setLevel(logging.DEBUG)

In [2]:
#pkg_root = str(Path(__file__).parent.resolve())
pkg_root = Path(doc.path).parent

pkg = mp.open_package(pkg_root)
ex = pylib.ExtractManager(pkg)

In [15]:
%time tracts = ex.tracts

INFO:pylib.extract:Building tracts

  0%|          | 0/52 [00:00<?, ?it/s]

CPU times: user 50.8 s, sys: 1.81 s, total: 52.7 s
Wall time: 53.3 s

In [26]:
ex._zones = None

In [29]:
ex.utm_zones

                  geoid zone   epsg
194  14000US06079010701  10S  32610
194  14000US06079010707  10S  32610
194  14000US06079010602  10S  32610
194  14000US06079010603  10S  32610
194  14000US06079990000  10S  32610
..                  ...  ...    ...
375  14000US09011705101  19T  32619
375  14000US09011703000  19T  32619
375  14000US44009050802  19T  32619
375  14000US44009041500  19T  32619
375  14000US44009990200  19T  32619

[74196 rows x 3 columns]

In [21]:
g[['geoid','zone', 'epsg']]

                  geoid zone   epsg
194  14000US06079010701  10S  32610
194  14000US06079010707  10S  32610
194  14000US06079010602  10S  32610
194  14000US06079010603  10S  32610
194  14000US06079990000  10S  32610
..                  ...  ...    ...
375  14000US09011705101  19T  32619
375  14000US09011703000  19T  32619
375  14000US44009050802  19T  32619
375  14000US44009041500  19T  32619
375  14000US44009990200  19T  32619

[74196 rows x 3 columns]

In [4]:
%time geohashes = ex.geohashes
%time g2t = ex.geo_to_tract
%time overlay = ex.overlay

INFO:pylib.extract:Building geohashes
INFO:pylib.extract:Linking gh centroids to tracts

CPU times: user 1min 3s, sys: 1 s, total: 1min 4s
Wall time: 1min 5s

INFO:pylib.extract:Linking gtracts

CPU times: user 1min 7s, sys: 1.46 s, total: 1min 8s
Wall time: 1min 9s

  0%|          | 0/10 [00:00<?, ?it/s]

149229 14144 80132 80136
CPU times: user 2min 31s, sys: 2.22 s, total: 2min 34s
Wall time: 2min 35s

In [5]:
overlay

,geohash,tract_id,geoid,aland,awater,tract_area,gh_area,ovl_area,gh_in_tract_prop,tract_in_gh_prop
0,9q8z,4735,14000US06013381000,1961893,0,1961893,602980674,287997,0.146796,0.000478
1,9q8z,4927,14000US06001990000,0,139280186,139280186,602980674,12726946,0.091377,0.021107
2,9q8z,5469,14000US06001401700,5757355,5813128,11570483,602980674,64297,0.005557,0.000107
3,9q8z,5516,14000US06075990100,0,70939179,70939179,602980674,15681252,0.221052,0.026006
4,9q8z,5885,14000US06075061500,1660735,451319,2112054,602980674,141190,0.066850,0.000234
...,...,...,...,...,...,...,...,...,...,...
149224,dryv,31235,14000US23019012500,170982219,3785077,174767296,545143618,584949,0.003347,0.001073
149225,drm1,64249,14000US44009990200,0,251843080,251843080,577212447,46574081,0.184933,0.080688
149226,f2rj,31413,14000US23003950600,140257679,2610619,142868298,518491161,225992,0.001582,0.000436
149227,drkc,49624,14000US36103201004,47889176,44916015,92805191,577404354,92871125,1.000710,0.160842
149228,drkc,49625,14000US36103201004,47889176,44916015,92805191,577404354,92871125,1.000710,0.160842

In [31]:
ex.build(force=True)

INFO:pylib.extract:Creating tracts (forcing)
INFO:pylib.extract:Write tracts
INFO:pylib.extract:Creating geohashes (forcing)
INFO:pylib.extract:Write geohashes
INFO:pylib.extract:Creating geo_to_tract (forcing)
INFO:pylib.extract:Write geo_to_tract
INFO:pylib.extract:Creating overlay (forcing)
INFO:pylib.extract:Write overlay
INFO:pylib.extract:Creating utm_zones (forcing)
INFO:pylib.extract:Write utm_zones
INFO:pylib.extract:Creating utm_buffered_zones (forcing)
INFO:pylib.extract:Write utm_buffered_zones